.home {
  margin: 5rem 0;
  min-height: calc(70vh - 5rem);
  max-height: calc(100vh - 10rem);
  height: fit-content;
  background-color: white;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  clip-path: polygon(0 0, 0 0, 90% 0, 100% 3rem, 100% 100%, 0% 100%, 10% 100%, 0% 100%);

  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;

    &__name {
      width: 20ch;
    }

    &__theme {
      width: 15ch;
    }

    &__tags {
      width: 15ch;
    }

    input {
      margin: 0.1rem;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      background-color: transparent;
      margin: 0;
      padding: 0;
      width: 21.2px;
      height: 21.2px;
    }

    .icon {
      width: 21.2px;
      height: 21.2px;
      cursor: pointer;
    }
  }
  &__container {
    overflow-y: scroll;
  }
}
