.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5rem;

  &__header {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 23rem;
    user-select: none;
    min-height: calc(100vh - 5rem);

    &__name {
      text-align: center;
      color: #fde24f;
      font-size: 4rem;
      line-height: 4rem;
      width: 9ch;
      margin: 0;
      font-weight: 500;
    }

    &__theme {
      font-size: 2.5rem;
      text-align: center;
      color: #00214d;
      text-transform: uppercase;
      margin: 2rem 0 0 0;
    }

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
    }

    &__tag {
      list-style: none;
      display: inline-block;
      font-size: 1.2rem;
      text-transform: uppercase;
      color: #fde24f;
      background-color: #00214d;
      border-radius: 0.25rem;
      padding: 0.1rem 1rem;
      margin: 0 0.25rem;
    }
  }

  .content__wrapper {
    overflow-y: scroll;
    margin-right: 0.2rem;
    padding-right: 0.5rem;
  }

  &__content {
    width: 50%;
    min-width: 414px;
    min-height: calc(70vh - 5rem);
    max-height: calc(100vh - 10rem);
    height: fit-content;
    background-color: white;
    padding: 2rem 0rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 0.25rem;
    clip-path: polygon(0 0, 0 0, 90% 0, 100% 3rem, 100% 100%, 0% 100%, 10% 100%, 0% 100%);

    .form {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 2rem;

      input {
        margin: 0.1rem;
      }

      .quantity {
        width: 8ch;
      }
      .name {
        width: 22ch;
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        margin: 0;
        padding: 0;
        width: 21.2px;
        height: 21.2px;
      }

      .icon {
        width: 21.2px;
        height: 21.2px;
        cursor: pointer;
      }
    }
  }
}

.warning {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
}
